<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: htmlHead (pageTitle='Page not found')">
</head>
<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<div th:replace="fragments :: navbarAndHeader"></div>

		<div style="min-height: 700px" class="text-center d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-12">
					<h1>Page not found.</h1>
				</div>
				<div class="col-12">
					<h5>You got lost but fear not, the avatar has returned <span>🫶</span></h5>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>