<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: htmlHead (pageTitle='Something went wrong')">
</head>
<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<div th:replace="fragments :: navbarAndHeader"></div>

		<div style="min-height: 700px" class="text-center d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-12">
					<h1>Now, did you try being funny in inspect element or did I just mishandle something?</h1>
				</div>
			</div>
		</div>
	</div>

	<!--jquery and bootstrap scripts-->
	<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>