<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image:src" content="">
	<meta property="og:image" content="">
	<meta name="twitter:title" content="Home">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon" href="/assets/images/logo.png" th:href="@{/assets/images/logo.png}" type="image/x-icon">
	<meta name="description" content="">


	<title>Home</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
	<link rel="stylesheet" href="/assets/dropdown/css/style.css" th:href="@{/assets/dropdown/css/style.css}">
	<link rel="stylesheet" href="/assets/socicon/css/styles.css" th:href="@{/assets/socicon/css/styles.css}">
	<link rel="stylesheet" href="/assets/theme/css/style.css" th:href="@{/assets/theme/css/style.css}">
	<link rel="preload"
		  th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap&display=swap}"
		  href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap&display=swap"
		  as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet"
			  th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap&display=swap}"
			  href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap&display=swap">
	</noscript>
	<link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
	<link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
	<!--Header/Nav Bar-->
	<div data-bs-version="5.1" class="menu menu2 cid-teNLbKg0xX" once="menu" id="menu2-0">
		<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="container">
				<div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#" th:href="@{/}">
                        <img src="/assets/images/logo.png" th:src="@{/assets/images/logo.png}"
							 alt="Sell That Thing Logo" style="height: 3rem;">
                    </a>
                </span>
					<span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-5" href="index.html" th:href="@{/}">
						SellThatThing</a></span>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
						<li class="nav-item"><a class="nav-link link text-black text-primary display-4"
												href="categories.html" th:href="@{/categories}">View By Category</a>
						</li>
						<li class="nav-item"><a class="nav-link link text-black display-4" href="new-listing.html"
												th:href="@{/new-listing}">Create
							New Listing</a></li>
					</ul>

					<div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-7"
																   href="#" th:href="@{/get-started}">Register or Login<br></a>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<!--Header/Nav Bar-->

	<!--Body-->
	<div data-bs-version="5.1" class="features3 cid-teNQgzXdqo" id="features3-3">
		<div class="container">
			<div class="mbr-section-head">
				<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-5 mt-2 display-5">Sorting Stuff
					Here</h5>
			</div>
			<!--All Posts-->
			<div class="col-12" th:each="post: ${posts}">
				<a href="#" th:href="@{/posts/{postId}(postId=${post.postId})}" class="link-dark">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-md-4">
								<img th:src="@{${post.imageUrl}}" class="card-img-top" alt="..." width="300"
									 height="300">
							</div>
							<div class="col-md-8 m-0">
								<div class="card-body p-0 ms-md-3 mt-sm-3 mt-3">
									<!--Title and Price-->
									<div class="row">
										<div class="col-9 ps-2">
											<p class="card-title fs-1 text-start" th:text="${post.title}"></p>
										</div>
										<div class="col-3">
											<h5 class="card-title text-end" th:text="'$' + ${post.price}"></h5>
										</div>
									</div>
									<!--Title and Price-->
									<!--Location and Date-->
									<div class="row">
										<div>
											<p th:text="${post.location}" class="text-start mt-2"></p>
											<p th:text="${post.getFormattedCreateAtDate}" class="text-start"></p>
										</div>
									</div>
									<!--Location and Date-->
									<div class="card-text  mt-3 p-0">
										<p class="fs-4 text-start" th:text="${post.body.substring(0, 250) + '...'}">Post Body</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				<hr>
			</div>
			<!--All Posts-->
		</div>
	</div>
	<!--Body-->

	<!--Footer-->
	<div class="display-7"
		 style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;
			 align-content: center;display: flex;position: relative;height: 4rem;">
		<a href="https://mobiri.se/"
		   style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;"
																						  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a>
		<p style="margin: 0;text-align: center;" class="display-7">Made with &#8204;</p><a style="z-index:1"
																						   href="https://mobirise.com">
		Free Website Software</a>
	</div>
	<!--Footer-->

	<!--Scripts	-->
	<script src="/assets/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="/assets/smoothscroll/smooth-scroll.js" th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
	<script src="/assets/ytplayer/index.js" th:src="@{/assets/ytplayer/index.js}"></script>
	<script src="/assets/dropdown/js/navbar-dropdown.js" th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
	<script src="/assets/theme/js/script.js" th:src="@{/assets/theme/js/script.js}"></script>
</body>
</html>