<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

	<title>Welcome Page</title>
</head>

<body class="container bg-dark text-bg-dark">
	<!-- Nav Bar -->
	<nav class="navbar navbar-expand-lg mt-3">
		<div class="container-fluid  d-flex flex-row">
			<a class="navbar-brand text-bg-dark" th:href="@{/}">SellThatThing</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse  d-flex flex-row-reverse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link btn btn-warning me-5" th:href="@{/all}">All Things</a>
					<a class="nav-link btn btn-warning me-5" th:href="@{/new-post}">Create A thing</a>
					<a class="nav-link btn btn-warning me-5" th:href="@{/get-started}">Register or Login</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- End Nav Bar -->

	<div class="row mt-4">
		<div class="mx-auto" style="width: fit-content">
			<h1>CREATING NEW POST</h1>
		</div>
	</div>

	<!--  New Post Form  -->
	<form action="#" method="post" th:action="@{/new-post}"  th:object="${newPostDto}">
		<div>
			<label for="title">Title</label>
			<input id="title" type="text" th:field="*{title}" placeholder="Post Title"/>
		</div>

		<div>
			<label for="body">Body</label>
			<input id="body" type="text" th:field="*{body}" placeholder="Post Body"/>
		</div>

		<div>
			<label for="categoryName">Category</label>
			<input id="categoryName" type="text" th:field="*{categoryName}" placeholder="Category"/>
		</div>

		<div>
			<label for="posterAccountId">Account Id</label>
			<input id="posterAccountId" type="text" th:field="*{posterAccountId}" placeholder="Account Id"/>
		</div>

		<button type="submit">CREATE POST</button>
	</form>
	<!--  End Post Form  -->

	<!-- Scripts -->
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>