<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--css-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
		  rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	<!--Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
		  th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}"
		  rel="stylesheet">

	<title>Create New Account</title>
</head>

<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<!--Start Nav Bar-->
		<nav class="navbar navbar-dark navbar-expand-lg">
			<!--Start Logo and Text-->
			<a class="navbar-brand fs-1 text-center " href="#" th:href="@{/}">
				<i class="bi bi-shop me-1 text-center" style="font-size: 3rem;"></i>
				SellThatThing
			</a>
			<!--End Logo and Text-->

			<!--Start Nav bar items-->
			<div class="expand navbar-collapse justify-content-end" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link me-5 text-center text-white" href="#">View By Category</a>
					<a class="nav-link me-5 text-center text-white" href="#" th:href="@{/posts/create-new}">Create New Listing</a>

					<a class="nav-link me-5 text-center text-white" sec:authorize="!isAuthenticated()" href="#" th:href="@{/register}">Register</a>
					<a class="nav-link me-5 text-center text-white" sec:authorize="!isAuthenticated()" href="#" th:href="@{/login}">Login</a>

					<!--Start Drop Down-->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle me-5 text-center text-white btn btn-primary" id="navDropDown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false"
						   sec:authorize="isAuthenticated()"
						   th:text="|Hello, ${#authentication.principal.firstName}|">
						</a>
						<!--Start Drop Down Options-->
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navDropDown">
							<li><a class="dropdown-item" href="#" th:href="@{${profileLink}}">Your
								Account</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#" th:href="@{/logout}">Log out</a></li>
						</ul>
						<!--End Drop Down Options-->
					</li>
					<!--Start Drop Down-->
				</div>
			</div>
			<!--End Nav bar items-->
		</nav>
		<!--End Nav Bar-->

		<!--Start Message for Logged-In Users-->
		<div class="d-flex justify-content-center align-items-center" style="min-height: 33vh" sec:authorize="isAuthenticated()">
			<div class="alert alert-success">
				You are already logged in. Log out first
			</div>
		</div>
		<!--Start Message for Logged-In Users-->

		<!--Start Registration Form-->
		<div class="d-flex justify-content-center align-items-center" style="min-height: 700px" sec:authorize="isAnonymous()">
			<form method="post" action="#" th:action="@{/register}" th:object="${registrationDto}">
				<!--Start First and Last name-->
				<div class="row">
					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input autofocus id="firstname" class="form-control" type="text" th:field="*{firstName}" placeholder="First Name"/>
							<label for="firstname">First Name</label>
						</div>
					</div>

					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input id="lastname" class="form-control" type="text" th:field="*{lastName}" placeholder="Last Name"/>
							<label for="lastname">Last Name</label>
						</div>
					</div>
				</div>
				<!--End First and Last name-->

				<!--Start Email and DOB-->
				<div class="row">
					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input id="email" class="form-control" type="text" th:field="*{email}" placeholder="email@address.com"/>
							<label for="email">Email</label>
						</div>
					</div>

					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input id="dateOfBirth" class="form-control" type="date" th:field="*{dateOfBirth}" placeholder="email@address.com"/>
							<label for="dateOfBirth">Date of Birth</label></div>
					</div>
				</div>
				<!--End Email and DOB-->

				<!--Start Password and Confirm Password-->
				<div class="row">
					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input id="password" class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
							<label for="password" class="form-label">Password</label>
						</div>
					</div>

					<div class="col-12">
						<div class="form-floating text-dark text-muted mb-3">
							<input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}"
								   placeholder="Password, again"/>
							<label for="confirmPassword" class="form-label">Confirm Password</label>

						</div>
					</div>
				</div>
				<!--End Password and Confirm Password-->

				<!--Start Register Button-->
				<div class="row mt-3">
					<div class="col d-flex justify-content-center">
						<div class="d-grid w-100 w-cus-50">
							<button type="submit" class="btn btn-primary">Create Account</button>
						</div>
					</div>
				</div>
				<!--End Register Button-->
			</form>
		</div>
		<!--End Registration Form-->

		<!--Start Messages-->
		<div class="d-flex justify-content-center align-items-center" th:if="${param.success}">
			<div class="alert bg-dark" role="alert">
				<h4 class="alert-heading text-center">Registration Successful</h4>
				<p class="text-center">Verification Email Sent</p>
			</div>
		</div>
		<!--End Messages-->
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
</body>
</html>