<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: htmlHead (pageTitle='Register')">

<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<th:block th:replace="fragments :: navbarAndHeader"></th:block>

		<!--Start Registration Form-->
		<div sec:authorize="isAnonymous()">
			<form method="post" action="#" th:action="@{/register}" th:object="${newAccountRequest}">
				<!--First and Last name-->
				<div class="row">
					<div class="col-lg-3"></div>

					<!--First name-->
					<div class="col-lg-3">
						<label for="firstName" class="form-label">First Name</label>
						<input type="text" class="form-control" id="firstName" th:field="*{firstName}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					</div>

					<!--Last name-->
					<div class="col-lg-3 mb-3">
						<label for="lastName" class="form-label">Last Name</label>
						<input type="text" class="form-control" id="lastName" th:field="*{lastName}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
					</div>

					<div class="col-lg-3"></div>
				</div>

				<!--Email and DOB-->
				<div class="row">
					<div class="col-lg-3"></div>

					<!--Email-->
					<div class="col-lg-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" th:field="*{email}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					</div>

					<!--DOB-->
					<div class="col-lg-3 mb-3">
						<label for="dateOfBirth" class="form-label">Date of Birth</label>
						<input  type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
					</div>

					<div class="col-lg-3"></div>
				</div>

				<!--Password and Confirm Password-->
				<div class="row">
					<div class="col-lg-3"></div>

					<!--Password-->
					<div class="col-lg-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password" th:field="*{password}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
					</div>

					<!--Confirm Password-->
					<div class="col-lg-3 mb-3">
						<label for="confirmPassword" class="form-label">Confirm Password</label>
						<input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
						<p class="form-label mt-2 text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
					</div>

					<div class="col-lg-3"></div>
				</div>

				<!--Start Register Button-->
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4 text-center">
						<button type="submit" class="btn btn-primary">Create Account</button>
					</div>
					<div class="col-lg-4"></div>
				</div>

<!--				<div class="row mt-3">-->
<!--					<div class="col d-flex justify-content-center">-->
<!--						<div class="d-grid w-100 w-cus-50">-->
<!--							<button type="submit" class="btn btn-primary">Create Account</button>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
				<!--End Register Button-->
			</form>
		</div>
		<!--End Registration Form-->
	</div>

	<!--jquery and bootstrap scripts-->
	<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>