<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: htmlHead (pageTitle='User Posts')">
</head>

<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<div th:replace="fragments :: navbarAndHeader"></div>

		<th:block th:replace="fragments :: sortParameters (cities=${cities}, categories=${categories})"></th:block>

		<h1 class="text-center mb-5" th:text="'All posts by ' +  ${userPosts.get(0).posterAccount.firstName}"></h1>

		<th:block th:with="postsHolder=${userPosts}">
			<th:block th:if="${!postsHolder.isEmpty()}" th:replace="fragments :: showAllPosts (posts=${postsHolder})"></th:block>
			<th:block th:replace="fragments :: emptyResource (${postsHolder})"></th:block>
		</th:block>
	</div>

	<th:block th:replace="fragments :: scripts"></th:block>

	<script th:src="@{/js/script.js}"></script>
</body>
</html>