<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: htmlHead (pageTitle='User Posts')">
</head>

<body style="background-color: #121212" class="text-white">
	<div class="container" style="height: 99vh">
		<div th:replace="fragments :: navbarAndHeader"></div>

		<th:block th:replace="fragments :: sortParameters (cities=${cities}, categories=${categories})"></th:block>

		<div th:replace="fragments :: showAllPosts (posts=${userPosts})"></div>
	</div>

	<th:block th:replace="fragments :: scripts"></th:block>

	<script th:src="@{/js/script.js}"></script>
</body>
</html>